<ion-view view-title="Contacts">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <img src="../img/svg/lines7.svg" id="sm-menu-bars" menu-toggle="left">
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="contacttitles" align="left">
      <h1 class="contanttitles">Main Coordinators</h1>
    </div>
    <div align="center" class="contactpanel">
    <button class="yellowbutton contactbutton">+3934042014590</button>
    </div>
    <div align="center" class="contactpanel">
      <button class="yellowbutton contactbutton">+393464764333</button>
    </div>

    <div class="contacttitles" align="left">
      <h1 class="contanttitles">Emergency</h1>
    </div>
    <div align="center" class="contactpanel">
      <button class="redbutton contactbutton">112</button>
    </div>

    <div class="contacttitles" align="left">
      <h1 class="contanttitles">Other</h1>
    </div>

    <div align="center" class="contactpanel">
      <button class="bluebutton contactbutton">118</button>
    </div>
    <div align="center" class="contactpanel">
      <button class="bluebutton contactbutton">118</button>
    </div>
  </ion-content>
</ion-view>
