<ion-content class="sm-full-height" render-swiper scroll="false">
  <!--<video autoplay poster="" id="bgvid" loop>
    &lt;!&ndash; WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  &ndash;&gt;
    <source src="../img/background.mp4" type="video/mp4">
    <source src="../img/background.webm" type="video/webm">
  </video>-->
  <div class="text-center">
    <img src="../img/svg/lines7.svg" id="sm-index-bars" ng-click="toggleLeftSideMenu()">
    <div ng-click="credits()"><img id="sm-index-credits" class="svg" src="../img/svg/light92.svg"></div>
    <h3 class="title">SNOWDAYS</h3>
    <h5 class="sm-index-subtitle text-center">Europe’s biggest winter sport event for<br>
      students organized by students.<br>
      March 3 4 5</h5>
    <button class="sm-button-squared" ng-click="goTo('info')">LEARN MORE</button>
  </div>
</ion-content>
