<ion-content class="sm-full-height" scroll="false">
  <video autoplay poster="" id="bgvid" loop>
    <source src="../img/background.mp4" type="video/mp4">
    <source src="../img/background.webm" type="video/webm">
  </video>
  <div class="text-center">
    <img src="../img/svg/lines7.svg" id="sm-index-bars" ng-click="toggleLeftSideMenu()">
    <div ng-click="credits()"><img id="sm-index-credits" class="png" src="../img/svg/snow42.svg"></div>
    <h3 class="title">SNOWDAYS</h3>
    <h5 class="sm-index-subtitle text-center">Europe’s biggest winter sport event for<br>
      students organized by students.<br>
      March 3 4 5</h5>
    <button class="sm-button-squared" ng-click="goTo('info')">LEARN MORE</button>
  </div>
</ion-content>
