<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="150" render-png>
    <ion-content scroll="false">
      <ion-list>
        <ion-item menu-close ng-href="#/m" class="sm-list-item">
          <img src="../img/icon/home.png" class="png">Home
        </ion-item>
        <ion-item menu-close href="#/m/schedule" class="sm-list-item">
          <img src="../img/icon/schedule.png" class="png">Schedule
        </ion-item>
        <!--<ion-item menu-close href="#/m/trophy" class="sm-list-item">
          <img src="../img/icon/trophy.png" class="png">Trophy
        </ion-item>-->
        <ion-item menu-close href="#/m/pictures" class="sm-list-item">
          <img src="../img/icon/pictures.png" class="png">Pictures
        </ion-item>
        <ion-item menu-close href="#/m/videos" class="sm-list-item">
          <img src="../img/icon/videos.png" class="png">Videos
        </ion-item>
        <ion-item menu-close href="#/m/sponsors" class="sm-list-item">
          <img src="../img/icon/sponsor.png" class="png">Sponsors
        </ion-item>
        <ion-item menu-close href="#/m/contacts" class="sm-list-item">
          <img src="../img/icon/contacts.png" class="png">Contacts
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
