<ion-side-menus enable-menu-with-back-views="false">

  <ion-side-menu-content>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="180" render-svg>
    <ion-content scroll="false">
      <ion-list>
        <ion-item menu-close ng-href="#/m" class="sm-list-item">
          <img src="../img/svg/house158.svg" class="svg">Home
        </ion-item>
        <ion-item menu-close href="#/m/schedule" class="sm-list-item">
          <img src="../img/svg/timetable.svg" class="svg">Schedule
        </ion-item>
        <ion-item menu-close href="#/m/trophy" class="sm-list-item">
          <img src="../img/svg/trophy71.svg" class="svg">Trophy
        </ion-item>
        <ion-item menu-close href="#/m/pictures" class="sm-list-item">
          <img src="../img/svg/camera90.svg" class="svg">Pictures
        </ion-item>
        <ion-item menu-close href="#/m/videos" class="sm-list-item">
          <img src="../img/svg/play111.svg" class="svg">Videos
        </ion-item>
        <ion-item menu-close href="#/m/sponsors" class="sm-list-item">
          <img src="../img/svg/snow42.svg" class="svg">Sponsors
        </ion-item>
        <ion-item menu-close href="#/m/contacts" class="sm-list-item">
          <img src="../img/svg/phone382.svg" class="svg">Contacts
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
