<html ng-controller="videoviewer">
  <ion-view view-title="Videos">
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <img src="../img/icon/menu.png" id="sm-menu-bars" menu-toggle="left">
      </ion-nav-buttons>
    </ion-nav-bar>

    <body ng-controller="test">
    <ion-content>
      <iframe src="https://player.vimeo.com/video/154967003"style="margin-top: 2vh; width: 100vw; height: 57vw" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <iframe src="https://player.vimeo.com/video/125150630" style="margin-top: 2vh; width: 100vw; height: 57vw" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </ion-content>
    </body>
  </ion-view>
</html>
