@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.woff') format('woff'),
  url('../fonts/fontawesome-webfont.ttf') format('truetype'),
  url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Againts';
  src: url('../fonts/againts.eot');
  src: url('../fonts/againts.eot?#iefix') format('embedded-opentype'),
  url('../fonts/againts.woff') format('woff'),
  url('../fonts/againts.ttf') format('truetype'),
  url('../fonts/againts.svg') format('svg');
}

@font-face {
  font-family: 'BentonSans Regular';
  src: url('../fonts/BentonSansRegular/BentonSans%20Regular.eot');
  src: url('../fonts/BentonSansRegular/BentonSans%20Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BentonSansRegular/BentonSans%20Regular.woff') format('woff'),
  url('../fonts/BentonSansRegular/BentonSans%20Regular.ttf') format('truetype'),
  url('../fonts/BentonSansRegular/BentonSans%20Regular.svg') format('svg');
}

@font-face {
  font-family: 'BentonSans Medium';
  src: url('../fonts/BentonSansMedium/BentonSans%20Medium.eot');
  src: url('../fonts/BentonSansMedium/BentonSans%20Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BentonSansMedium/BentonSans%20Medium.woff') format('woff'),
  url('../fonts/BentonSansMedium/BentonSans%20Medium.ttf') format('truetype'),
  url('../fonts/BentonSansMedium/BentonSans%20Medium.svg') format('svg');
}

@font-face {
  font-family: 'Futura Regular';
  src: url('../fonts/Futura/ufonts.com_futura-medium.otf');
  src: url('../fonts/Futura/ufonts.com_futura-medium.woff') format('woff'),
  url('../fonts/Futura/ufonts.com_futura-medium.ttf') format('truetype'),
  url('../fonts/Futura/ufonts.com_futura-medium.svg') format('svg');
}

/* INDEX */
h3.title {
  font-family: Againts, sans-serif;
  font-size: 80px;
  color: #393E46 !important;
  padding-left: 5px;
  padding-top: 45vw;
  margin: 0;
}

h5.sm-index-subtitle {
  font-family: "Futura Regular";
  line-height: 22px;
  padding-top: 20px;
  color: #737373;
}

button.sm-button-squared {
  margin-top: 20vw;
  padding: 8px 15px 6px 15px;
  background: transparent;
  border: 2px #393E46 solid;
  color: #393E46;
  font-family: 'BentonSans Medium', sans-serif;
  font-weight: 700;
}

video {
  position: fixed;
  width: auto;
  height: 100%;
  z-index: -100;
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

#sm-index-bars {
  color: #4d4d4d;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: fontawesome, sans-serif;
}

#sm-menu-bars {
  height: 20px;
  width: 20px;
  margin: auto 0 auto 7px;
}

#sm-index-credits {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  fill: #4d4d4d;
}

.sm-list-item {
  font-family: 'BentonSans Medium', sans-serif;
  color: #7c7c7c;
}

.ion-chevron-left:before {
  margin-right: 5px;
}

.sm-list-item img {
  height: 20px;
}

ion-item.item {
  border: none;
}

ion-item.item a {
  width: 100%;
  line-height: 24px;
  display: flex;
}

ion-item.item img {
  margin-right: 10px;
}

.sm-full-height {
  height: 100%;
}
/* Schedule */
h1.leftside{
  font-family: "Futura Regular";
  font-weight: bold;
  text-align: left;
  float: left;
  margin: 0%;
  font-size: 4vw;
}
h1.rightside{
  font-family: "Futura Regular";
  text-align: right;
  float: right;
  margin: 0%;
  font-size: 5vw;
}

h1.scheduleextrainfo{
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  font-family: "Futura Regular";
  font-size: 6vw;
}


ion-slide-box.schedule{
  background: black;
}

ion-slide.firstday {
  background-color: #2ecc71;
}
ion-slide.secondday{
  background-color: #e74c3c;
}
ion-slide.thirdday{
  background-color: #3498db;
}
ion-item.dayitem {
  border-bottom: dotted;
  border-color: black;
  border-width: 1px;
  background: inherit;
}

h1.scheduletitles{
  font-family: "Futura Regular";
  padding-top: 1vh;
  padding-left: 2vw;
  font-size: 10vw;
}


/* Contacts*/

.redbutton{
  background-image: url("../img/rednumber.png");
}
.bluebutton{
  background-image: url("../img/bluenumber.png");
}
.yellowbutton{
  background-image: url("../img/yellownumber.png");
}
.contactbutton{
  font-family: "Futura Regular";
  font-weight: bold;
  width: 90vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-size: 5vh;
  border: groove;
  border-color: grey;
  border-width: 2px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
div.contactpanel{
  align-content: center;
  padding-bottom: 0px;
  align:center;
  width: 100vw;
  /*padding-top: 2%;*/
}
div.contanttitles {
  padding-left: 10px;
}
h1.contanttitles {
  font-size: 8vw;
  font-family: "Futura Regular";
  margin-bottom: 0px;
}
div.contactmininames{
  font-size: 4vw;
  font-family: "Futura Regular";
  padding: 0px;
  margin: 0px;
  padding-right: 1vw;
  text-align: right;
}


/* picture */

.family-icon-scroller {
  height: 22vh;
  -webkit-overflow-scrolling: touch;
  padding: 0.6vh 0.2vh;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  list-style: none;
}

.family-icon {
  display: inline-block;
  vertical-align: top;
  width: 22vh;
  white-space: normal;
  margin-left: 0.5vw;
  /*border: solid;
  border-width: 1px;*/

}

img.picturesicon{
  width: 22vh;
  height: 22vh;
  object-fit: cover;
}

div.cardsetup{
  height: 29vh;
  margin-top: 1vh;
  margin-bottom: 0vh;
  background: transparent;
  box-shadow: none;
}

/* test */
ion-content.test{
  background-image: url("../img/firstday.png");
}

/* sponsor */
div.sponsor{
  height: 40vh;
  width: 98vw;
  margin-top: 1vh;
  margin-left: 1vw;
  background-position: right;
  border: dotted;
  border-width: thin;
}

img.sponsorimg {
  padding-top: 0px;
  padding-left: 1vw;
  max-height: 15vh;
}

h1.sponsortitle {
  font-family: "Futura Regular";
  font-size: 4vh;
  border-width: 1px;
  border-bottom: solid;
  vertical-align: top;
}


.row {
  margin: 0 !important;
  padding: 10px !important;
}

.col-md-8 {
  width: 100%;
}

.col-md-4 strong {
  font-family: "Futura Regular";
  font-size: 20px;
  letter-spacing: 2px;
}

.col-md-8 p {
  font-family: "Futura Regular";
  font-size: 20px;
}

.firstday .list .item {
  padding: 0 !important;
}

.secondday .list .item {
  padding: 0 !important;
}

.thirdday .list .item {
  padding: 0 !important;
}

.schedule_title {
  font-family: "Againts";
  color: #fff;
  margin-bottom: 15px;
  padding-top: 10px;
}
