@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
  url('../fonts/fontawesome-webfont.woff') format('woff'),
  url('../fonts/fontawesome-webfont.ttf') format('truetype'),
  url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Againts';
  src: url('../fonts/againts.eot');
  src: url('../fonts/againts.eot?#iefix') format('embedded-opentype'),
  url('../fonts/againts.woff') format('woff'),
  url('../fonts/againts.ttf') format('truetype'),
  url('../fonts/againts.svg') format('svg');
}

@font-face {
  font-family: 'BentonSans Regular';
  src: url('../fonts/BentonSansRegular/BentonSans%20Regular.eot');
  src: url('../fonts/BentonSansRegular/BentonSans%20Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BentonSansRegular/BentonSans%20Regular.woff') format('woff'),
  url('../fonts/BentonSansRegular/BentonSans%20Regular.ttf') format('truetype'),
  url('../fonts/BentonSansRegular/BentonSans%20Regular.svg') format('svg');
}

@font-face {
  font-family: 'BentonSans Medium';
  src: url('../fonts/BentonSansMedium/BentonSans%20Medium.eot');
  src: url('../fonts/BentonSansMedium/BentonSans%20Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BentonSansMedium/BentonSans%20Medium.woff') format('woff'),
  url('../fonts/BentonSansMedium/BentonSans%20Medium.ttf') format('truetype'),
  url('../fonts/BentonSansMedium/BentonSans%20Medium.svg') format('svg');
}

/* INDEX */
h3.title {
  font-family: Againts, sans-serif;
  font-size: 80px;
  color: #393E46 !important;
  padding-left: 5px;
  padding-top: 45vw;
  margin: 0;
}

h5.sm-index-subtitle {
  font-family: 'BentonSans Regular', sans-serif;
  line-height: 22px;
  padding-top: 20px;
  color: #737373;
}

button.sm-button-squared {
  margin-top: 20vw;
  padding: 8px 15px 6px 15px;
  background: transparent;
  border: 2px #393E46 solid;
  color: #393E46;
  font-family: 'BentonSans Medium', sans-serif;
  font-weight: 700;
}

video {
  position: fixed;
  width: auto;
  height: 100%;
  z-index: -100;
  background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

#sm-index-bars {
  color: #4d4d4d;
  height: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: fontawesome, sans-serif;
}

#sm-menu-bars {
  height: 20px;
  width: 20px;
  margin: auto 0 auto 7px;
}

#sm-index-credits {
  height: 25px;
  width: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
  fill: #4d4d4d;
}

.sm-list-item {
  font-family: 'BentonSans Medium', sans-serif;
  color: #aaa;
}

.ion-chevron-left:before {
  margin-right: 5px;
}

.sm-list-item img {
  height: 20px;
}

ion-item.item {
  border: none;
}

ion-item.item a {
  width: 100%;
  line-height: 24px;
  display: flex;
}

ion-item.item svg {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  fill: #AAAAAA;
}

.sm-full-height {
  height: 100%;
}
/* Schedule */

ion-slide-box.schedule{
  background: black;
}

ion-slide.firstday {
  background-image: url("../img/firstday.png");
  height: inherit;
  border-right: groove;
  border-left: groove;
  border-width: 1px;
}
ion-slide.secondday{
  background-image: url("../img/secondday.png");
  height: inherit;
  border-right: groove;
  border-left: groove;
  border-width: 1px;

}
ion-slide.thirdday{
  background-image: url("../img/thirdday.png");
  border-right: groove;
  border-left: groove;
  border-width: 1px;

}
ion-item.dayitem {
  border-bottom: dotted;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-color: black;
  border-width: 1px;
  background: inherit;
  font-family: Roboto;
}

/* Contacts*/

button.redbutton{
  background-image: url("../img/rednumber.png");
}
button.bluebutton{
  background-image: url("../img/bluenumber.png");
}
button.yellowbutton{
  background-image: url("../img/yellownumber.png");
}
button.contactbutton{
  font-family: Tahoma;
  font-weight: bold;
  width: 90vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-size: 5vh;
  border: groove;
  border-color: grey;
  border-width: 4px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
div.contactpanel{
  align-content: center;
  padding-bottom: 1vh;
  align:center;
  width: 100vw;
  /*padding-top: 2%;*/
}
div.contacttitles{
  padding-right: 10px;
}
h1.contanttitles{
  font-size: 150%;
  font-family: Roboto;
}

/* photos */


/* other */

.family-icon-scroller {
  height: 87px;
  -webkit-overflow-scrolling: touch;
  padding: 15px 15px 12px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  list-style: none;
}

.family-icon {
  display: inline-block;
  vertical-align: top;
  height: 5%;
  width: 5%;
  white-space: normal;
  margin-right: 10px;
  margin-left: 10px;
}
